<div id="wrapper">
  <div id="left">
    <div id="columns">
      <div class="column">
        <%= render "travels/tours" %>
      </div>
      <div class="column c2">
        <%= render "travels/hot_tours" %>
      </div>
      <div class="column c3">
        <%= render "travels/hotels" %>
      </div>
    </div>
    <%= render "travels/news_and_promotions" %>
  </div>
  <div id="right">
    <%= render "form" %>
  </div>
</div>
