<div id="wrapper">
  <div id="left">
    <div id="columns">
      <div class="column">
        <%= render "travels/tours" %>
      </div>
      <div class="column c2">
        <%= render "travels/hot_tours" %>
      </div>
      <div class="column c3">
        <%= render "travels/hotels" %>
      </div>
    </div>
    <%= render "travels/news_and_promotions" %>
  </div>
  <div id="right">
    <% if params[:info] == "success" %>
      <div class="info">Successfully!</div>
    <% else %>
      <% if params[:info].present? %>
        <div class="info">
          <h4>Can not book the tickets because of one of below reasons: </h4><br>
          <ul>
            <li>Can not connect to webservices </li>
            <li>Inputed information is incorrect!</li>
          </ul>
        </div>
      <% end %>
      <%= render "form" %>
    <% end %>
  </div>
</div>
