<div id="footer">
  <ul>
    <li><%= link_to t("header.home_page"), root_path %> |</li>
    <li><%= link_to t("header.about"), "#" %> |</li>
    <li><%= link_to t("header.hot_tours"), "#" %> |</li>
    <li><%= link_to t("header.hotels"), "#" %> |</li>
    <li><%= link_to t("header.services"), "#" %> |</li>
    <li><%= link_to t("header.contacts"), "#" %></li>
  </ul>
  <p><%= raw t("copy_right") %></p>
</div>
