<%= form_for [:admin, @hotel],
  url: (["new", "create"].include?(request[:action]) ? admin_hotels_path : admin_hotel_path(@hotel.id)),
  method: (["new", "create"].include?(request[:action]) ? "POST" : "PUT"),
  html: {class: "form-horizontal", role: "form", id: "user-form"} do |f| %>

  <div>
    <%= render partial: "shared/admin/error_messages",
      locals: {object: @hotel} %>
  </div>

  <%= f.hidden_field :id %>
  <div class="form-group">
    <%= f.label t("admin.hotels.code"), class: "control-label left-alignment-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :code, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label t("admin.hotels.name"), class: "control-label left-alignment-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("admin.hotels.star"), class: "control-label left-alignment-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.number_field :star, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("admin.hotels.website"), class: "control-label left-alignment-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :website, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("admin.hotels.city"), class: "control-label left-alignment-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :city, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("admin.hotels.country"), class: "control-label left-alignment-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :country, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("admin.hotels.address"), class: "control-label left-alignment-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.text_field :address, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("admin.hotels.rooms"), class: "control-label left-alignment-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.number_field :totalRooms, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label t("admin.hotels.cost"), class: "control-label left-alignment-label col-sm-3" %>
    <div class="col-sm-9">
      <%= f.number_field :cost, class: "form-control" %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-9 col-sm-offset-3">
      <%= f.submit t("admin.action.submit"), class: "btn btn-primary" %>
      <%= link_to admin_hotels_path do %>
        <%= button_tag t("admin.action.cancel"), class: "btn btn-default",
          type: :button %>
      <% end %>
    </div>
  </div>
<% end %>
