<% content_for :content_head, t("admin.hotels.index") %>

<div class="col-md-10">
  <%= link_to new_admin_hotel_path, class: "btn btn-link" do %>
    <i class="glyphicon glyphicon-plus"></i>
    <%= t "admin.places.new" %>
  <% end %>
</div>
<div class="table-responsive col-md-12">
  <table class="table table-bordered table-hover table-striped">
    <thead>
      <tr>
        <th><%= t "admin.hotel.name" %></th>
        <th class="text-center"><%= t "admin.places.star" %></th>
        <th class="text-center"><%= t "admin.places.address" %></th>
        <th class="text-center"><%= t "admin.places.city" %></th>
        <th class="text-center"><%= t "admin.places.rooms" %></th>
        <th class="text-center"><%= t "admin.places.available_rooms" %></th>
        <th class="text-center"><%= t "admin.places.action" %></th>
      </tr>
    </thead>
    <tbody>
      <% @hotels.each do |hotel| %>
        <tr>
          <td class="col-sm-2"><%= link_to hotel["name"], "#" %></td>
          <td class="col-sm-2"><%= truncate(raw strip_tags(hotel["star"].to_s)) %></td>
          <td class="col-sm-1"><%= truncate(raw strip_tags(hotel["address"])) %></td>
          <td class="col-sm-1"><%= truncate(raw strip_tags(hotel["city"])) %></td>
          <td class="col-sm-1"><%= truncate(raw strip_tags(hotel["total_rooms"].to_s)) %></td>
          <td class="col-sm-1"><%= truncate(raw strip_tags(hotel["available_rooms"].to_s)) %></td>
          <td class="col-sm-2 text-center">
            <%= link_to edit_admin_hotel_path(hotel["id"]) do %>
              <i class="glyphicon glyphicon-edit"></i>
            <% end %> |
            <%= link_to "#", data: {confirm: t("admin.places.confirm")},
              method: :delete do %>
              <i class="glyphicon glyphicon-trash"></i>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
