<div class="place-title-show"><%= @hotel["name"] %></div>

<div class="imglist">
  <ul>
    <li>
      <h4><%= t "hotels.index.hotel_code" %></h4>
      <a><%= @hotel["code"] %></a>
    </li>
    <li>
      <h4><%= t "hotels.index.star" %></h4>
      <a><%= @hotel["star"] %></a>
    </li>
    <li>
      <h4><%= t "hotels.index.city" %></h4>
      <a><%= @hotel["city"] %></a>
    </li>
    <li>
      <h4><%= t "hotels.index.country" %></h4>
      <a><%= @hotel["country"] %></a>
    </li>
    <li>
      <h4><%= t "hotels.index.address" %></h4>
      <a><%= @hotel["address"] %></a>
    </li>
    <li>
      <h4><%= t "hotels.index.phone" %></h4>
      <a><%= @hotel["phone"] %></a>
    </li>
    <li>
      <h4><%= t "hotels.index.website" %></h4>
      <a><%= @hotel["website"] %></a>
    </li>
    <li>
      <h4><%= t "hotels.index.rooms" %></h4>
      <a><%= @hotel["total_rooms"] %></a>
    </li>
    <li>
      <h4><%= t "hotels.index.available_rooms" %></h4>
      <a><%= @hotel["available_rooms"] %></a>
    </li>
    <li>
      <h4><%= t "hotels.index.cost" %></h4>
      <a><%= @hotel["cost"] %></a>
    </li>
  </ul>
</div>
